i{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 3em;
}

i:hover{
    color: darkgray;
}

a{
    text-decoration: none;
    padding: 0px 10px;
    text-align: center;
}

nav{
    position: absolute;
    left: 20%;
}

body{
    background: rgb(27, 27, 27);
}

h1{
    color: white;
    text-align: center;
    font-size: 5em;
}

.contenedor{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}