@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight:bolder;
    font-size: 70px;
}

h2{
    font-size: 50px;
}

li{
    font-size: 20px;
    list-style: none;
}

.alignVertical{
    top: 10%;
}

a{
    cursor: pointer;
}
